<% @title = "Create token" %>

<h1><%= @title %></h1>

<div style="max-width: 200px;">
    <label for="tokenType">Type</label>
    <input type="text" id="tokenType" value="api-key" />

    <label for="tokenValue">Value</label>
    <input type="text" id="tokenValue" />

    <div>
      <input type="submit" id="strac-submit" name="commit" value="Create token" data-disable-with="Create">
    </div>
</div>

<div id="createTokenResult" style="display: none; margin-top: 10px;">
    Created token: <span id="createdToken"></span>
</div>

<script type="text/javascript">
    $(document).ready(async () => {
        const CreateTokenApiKey = "pk_test_VJjfhYqRcFawG0JNZrYbD6umzY3Hpt8CaZYVDWLO";

        $("#strac-submit").on('click', async function (e) {
            e.preventDefault();

            const tokenType = $("#tokenType").val();
            const tokenValue = $("#tokenValue").val();

            $.ajax({
                "url": 'https://api.test.tokenidvault.com/tokens',
                "method": 'POST',
                'datatype': 'json',
                "headers": {
                    "x-api-key": CreateTokenApiKey,
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify({
                    'type': tokenType,
                    'data': tokenValue
                })
            }).then((result) => {
                $("#createdToken").text(result.id)
                $("#createTokenResult").show();
            });
        });
    });
</script>
