<h1>Welcome to the Strac demo website!</h1>

<h3>Session 1: protecting API keys</h3>
<ul>

    <li>Internal API calls</li>
    <ul>
        <li><a href="/strac-address/new?tokenize=false">Create address</a> (does not tokenize data)</li>
        <li><a href="/personal_identities/new">Create personal identity with SSN</a> (does not tokenize data)</li>
    </ul>

    <li>External API calls</li>
    <ul>
        <li><a href="/tools/proxy?type=getAddressInfo">API 1: Get city / zip code info</a></li>
        <li><a href="/tools/proxy?type=getAddressDistance">API 2: Calculate address distance</a></li>
        <li><a href="/tools/proxy?type=validateSsn">API 3: Validate SSN</a></li>
    </ul>
</ul>

<h3>Session 2: securely collecting customer data</h3>
<ul>
    <li><a href="/strac_pi/new?tokenize=true">Create personal identity</a> (tokenize data)</li>
    <li><a href="/strac_pi/view">View personal identity</a></li>
</ul>

<h3>Tools</h3>
<ul>
  <li><a href="/tools/create-token">Create token for API key</a></li>
  <li><a href="/tools/proxy?type=httpBin">Strac proxy input/output viewer</a></li>
  <li><a href="/addresses">Manage address database records</a></li>
  <li><a href="/personal_identities">Manage personal identity database records</a></li>
</ul>
